# Pliki tymczasowe Visual Studio i binarne
.vs/
Debug/
Release/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.dbmdl
*.exe
*.dll
*.pdb
*.ilk
*.cache

# Prywatna historia schowka (żeby nie wysłać swoich haseł!)
ClipboardHistory.dat